  $text-color: #fff7f3;
  $dark-color: #1A1A1D;
  $dark-color-2: #1e1e1e;

  $pastel-color: #A64D79;
  $pastel-color-1: #9d7f84;
  $pastel-color-2: #FAD0C4;

  $transition: 2s ease;
  $transform: translateY(-5px);