@use 'variables';

body {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal; 

    color: variables.$text-color;
    background-color: #090008;

    margin: 20px auto; 
    padding: 0 10px; 

    max-width: 800px; 
}

a {
    text-decoration: none;
}

#back-to-home {
    color: variables.$text-color;
    
    font-size: 1.5rem;
    
    div {
        background-color: variables.$pastel-color;

        width: 30%;

        transition: variables.$transition;

        &:hover {
            width: 40%;
        }
    }
}

.container { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

button { 
    color: variables.$text-color;
    background: variables.$dark-color;
    border: 1px solid variables.$pastel-color;

    padding: 8px 12px; 

    cursor: pointer; 
        
    &:hover {
        color: variables.$dark-color;
        background: variables.$text-color;
        padding: 12px 8px;

        transition: variables.$transition;
    }
}

.buttons-container { 
    display: flex; 
    flex-wrap: wrap; 

    gap: 10px; 
}

.output-box { 
    color: variables.$text-color;
    background-color: variables.$dark-color;

    min-height: 50px; 
    padding: 10px; 
    border: 1px solid #ccc; 

    white-space: pre; 
}